.form {
  display: grid;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.selectTypeContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.selectType {
  border: none;
  border-radius: 0.25rem;
  height: 2rem;
}

.textareaContainer {
  display: grid;
}

.textarea {
  height: 6.4rem;
  font-size: 1.25rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color:#4f4f4f;
  width: '100%';
  max-width: '100%';
  resize: 'none'; 
  overflow: 'hidden';
}

.attachmentContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
  padding: 0.25rem;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 2px solid grey;
  min-height: 8rem;
  cursor: pointer;
}

.imageStrip {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 10.5rem 3rem;
  justify-items: center;
  align-items: center ;
  font-size: 0.85rem;
  width: 12rem;
  height: 3.5rem;
  margin-bottom: 0.125rem;
}

.deleteIcon {
  background-color: #cc0000;
  border-radius: 0.25rem;
  padding: 0.25rem;
  min-height: 2.75rem;
  max-height: 2.75rem;
  min-width: 2.75rem;
  max-width: 2.75rem;
}

.image {
  border: 1px solid grey;
  border-radius: 0.375rem;
  width: 100%;
  max-height: 12rem;
  object-fit: contain;
}

.selectFileText {
  display: flex;
  align-self: center;
  justify-self: center;
  grid-column: span 3;
}

.submitButton {
  font-size: 1.25rem;
  height: 3rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #cc9900;
  cursor: pointer;
}

.hidden {
  display: none;
}

.thanksDiv {
  justify-self: center;
}