.contextMenu {
  position: absolute;
  background-color: #202020;
  z-index: 1000;
  border-radius: 0.25rem;
}

.contextMenuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 1.5rem;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  user-select: none;
  border: none;
}

.contextMenuItem:hover {
  background-color: #444444;
}
