.mainGrid {
  display: grid;
  justify-content: center;
}

.input {
  width: 28rem;  
  height: 14rem;
  font-size: 21px;
  padding: 0.5rem;  
  background-color: transparent; 
  color: white;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
}

.input:focus {
  outline: none;
}

.output {
  width: 28rem;  
  height: 14rem;
  font-size: 21px;
  padding: 0.5rem;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
  margin: 0;
}

.outputPlaceholder {
  color: #888888
}