.radioTextContainer {
  display: grid;
  text-align: center;
  height: 30rem;
  border: 1px solid #d09c00;
  overflow-y: auto;
  grid-template-columns: repeat(3, 11rem); 
  grid-auto-rows: 3.25rem;
}

.radioText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  border: 1px solid #585858;
  cursor: pointer;
  user-select: none;
}

.radioText:hover {
  background-color: #4f4f4f;
}

.radioTextSelected {
  background-color: #585858;
}

.radioTextSelected:hover {
  background-color: #585858;
}

.notFound {
  grid-column: span 3;
}